.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background: url("/public/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.landingPageContainer nav {
    padding-inline: 1.5rem;
    padding-block: 1.9rem;
    display: flex;
    justify-content: space-between;
}

.landingPageContainer nav h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

.landingPageContainer nav .navList {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
}

.landingPageContainer nav .navList p {
    cursor: pointer;
}

.landingPageContainer nav .navList div[role="button"] {
    background-color: orange;
    border: 2px solid orange;
    border-radius: 0.3rem;
    padding-inline: 1.5rem;
    padding-block: 0.2rem;
    cursor: pointer;
}

.landingMainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    padding-inline: 3rem;
}

.landingMainLeftContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.6rem;
}

.landingMainLeftContainer div[role="button"] {
    background-color: orange;
    border: 2px solid orange;
    border-radius: 0.3rem;
    width: fit-content;
    padding-inline: 1.5rem;
    padding-block: 0.2rem;
    cursor: pointer;
}

.landingMainLeftContainer div[role="button"] a {
    text-decoration: none;
    color: white;
}

.landingMainRightContainer img {
    height: 75vh;
    width: auto;
}

.navBar {
    position: absolute;
    top: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    text-align: center;

}

.meetContainer {
    display: flex;
    padding-inline: 20px;
    height: 80vh;
    width: 100vw;
    gap: 10vw;
    justify-content: center;
}



.leftPanel {
    height: 100%;
    display: flex;
    align-items: center;

}

.rightPanel {
    display: flex;
    align-items: center;
}

.rightPanel>img {
    width: 30vw;
    height: auto;
    border-radius: 20px;
}